
body {
  color: #fff;
    background: #192734;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  
  }
  
  
  .Header {
    display: flex;
    justify-content: center;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 3px solid #52edc7;
    height: 100%;
    margin-bottom: 5px !important;
  }
  
  .container {
    width: 90%;
      margin: 0 auto;
  
  }
  

  
.search-row{
  
    display: flex;
    justify-content: center;
    padding:15px;
    height: 100%;
}


.search-row input{
  text-align: center;
  color: #52edc7;
  font-size: 20px;
  border: 1px solid #000;
  background: #15202B;
  padding: 0.5em 1em 0.5em 1em;
}


  
  /* Styles for card mode (presentational styles are marked as optional) */
@media (max-width: 855px) {
  table {
    display: block;
  }
  thead {
    display: none;
  }
  tbody {
    display: table;
  }
  tr {
    display: table-row-group;
  }
    tr:nth-child(odd) {
      background-color: #f9f9f9; /* optional */
    }
  td {
    display: table-row;
  }
    td:before,
    td > span {
      display: table-cell;
      padding: 7px 13px; /* optional */
      border: 1px solid #e8e8e8; /* optional */
    }
    td:before {
      content: attr(data-label);
      font-weight: 600; /* optional */
    }
    td:not(.align-start) > span {
      vertical-align: middle; /* optional */
    }
}
/* Styles for normal mode (all are optional, presentational styles) */
@media (min-width: 856px) {
  th {
    white-space: nowrap;
    font-weight: 600;
    background-color: #000;
  }
  th, 
  td {
    padding: 7px 13px;
    border: 1px solid #000;
  }
    th:not(.align-start), 
    td:not(.align-start) {
      text-align: center;
    }
}



.buttons-row{
  border: 1px solid #000;
  background: #000;
  margin-top:15px;
  text-align:center;
  /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
  margin-left:-20px;
  margin-right:-20px;
  padding: 10px;
}

.button {
  background: #15202B;
  border: 1px solid #000;
  width: 150px;
  text-align: center;
  font-size: 22px;
  padding:5px;
  margin:5px 20px;
    display:inline-block;
    line-height: 30px;
    color:#fff;
    text-transform: uppercase;

}
.button:hover {
  box-shadow: 0px 0px 20px 0px #52edc7;
}

.button:focus   {
  box-shadow: 0px 0px 20px 0px #52edc7;
}
